body {
    font-family: Arial, sans-serif;
    background-color: #f7f2f2;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcccc;
    padding: 50px;
    color: #333;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    color: #ff6699;
    margin-top: 50px;
}

p {
    font-size: 1.2em;
}

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.image-gallery img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#timeline ul {
    list-style-type: none;
    padding: 0;
}

#timeline li {
    margin: 10px 0;
}

#countdown {
    margin-top: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
}


@media (max-width: 768px) {
    header {
        padding: 20px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    .image-gallery {
        flex-direction: column;
        align-items: center;
    }

    .image-gallery img {
        width: 90%;
        max-width: 300px; 
    }

    h2 {
        font-size: 1.5em;
    }

    footer {
        font-size: 0.9em;
    }
}
